.searchBox {
  position: relative;
}

.searchbar {
  margin: 30px 0;
}

.search-input {
  position: relative;
  display: flex;
  width: 80%;
}

.search-input button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  padding: 0px 40px;
  margin: 2px 0;
  background-color: var(--color_p2);
  color: #fff;
  height: 35px;
}

.search-input button:hover {
  background-color: var(--color_p4);
  color: #fff;
}

@media screen and (max-width:900px) {
  .search-input {
    width: 68%;
  }
}

@media screen and (max-width:800px) {
  .search-input {
    width: 100%;
  }
}